{% extends 'base.html' %}

{% load leaflet_tags %}
{% load static %}

{% block content %}


{% leaflet_js %}
{% leaflet_css %}

<style type="text/css">
	#gis {height: 450px;}
</style>

<script type="text/javascript" src="http://akashadhikari.com.np/cdn/leaflet.ajax.js"></script>

<script type="text/javascript">
    function out_layers(map, options) {
		var datasets = new L.GeoJSON.AJAX("http://localhost:8000/district_data", {

			style: function colors(feature){
				switch(feature.properties.district) {
					case 'Kathmandu':
					    return {
							color: 'red',
							fillOpacity: 0.8
						};
					break;
					case 'Morang':
					    return {
							color: 'green',
							fillOpacity: 0.8
						};
					break;
				}
			},

			onEachFeature: function(feature, layer) {
				layer.bindPopup(feature.properties.district.toString());
			}

		});
		var points = new L.GeoJSON.AJAX("http://localhost:8000/instance_data", {

			onEachFeature: function(feature, layer) {
				layer.bindPopup(feature.properties.name.toString());
			}

        });
        datasets.addTo(map);
		points.addTo(map);
	}
</script>

{% leaflet_map "gis" callback="window.out_layers" %}

<div class="container">

	<div class="row">
		<div class="col">
			<div class="chart">
			  <div style="width: 100px;">Baneshwor</div>
			  <div style="width: 80px;">Bhaktpur</div>
			  <div style="width: 150px;">Chabahil</div>
			  <div style="width: 160px;">Lazimpat</div>
			  <div style="width: 230px;">Pulchowk</div>
			  <div style="width: 420px;">Random</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}